*{
	margin: 0;
	padding: 0;
}

.container{
	height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/background.jpg);
	background-position: center;
	background-size: cover;
	position: absolute;
}

.form-box{
	width: 370px;
	height: 200px;
	position: relative;
	margin: 2% auto;
	background: #fff;
	padding: 5px;
	border-radius: 10px;
	overflow: hidden;
	transition: 0.2s;
	box-shadow: 0 0 14px 5px #828282;
        
}

.button-box{
	width: 240px;
	margin: 30px auto;
	position: relative;
	box-shadow: 0 0 20px 9px #e0e0e0;
}

.toggle-btn{
	padding: 10px 31px;
	cursor: pointer;
	background: transparent;
	border: 0px;
	outline: none;
	position: relative;
	text-align: center;
}

#elegir{
	top: 0;
	left: 120px;
	position: absolute;
	width: 120px;
	height: 100%;
	background: linear-gradient( to right,rgba(63,81,181,0.7), rgba(0,188,212,0.7));
}

.input-group{
	top: 90px;
	position: absolute;
	width: 280px;
	transition: 0.8s;
}

.input-field{
	width: 100%;
	padding: 10px 0;
	margin: 5px 0;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	border-bottom: 2px solid #004d40;
	outline: none;
	background: transparent;
}

.submit-btn{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: linear-gradient( to right,rgba(63,81,181,0.7), rgba(0,188,212,0.7));
	border-radius:5px;
	border: 1px solid black;
}

.check-box{
	margin: 30px 10px 30px 0;
}

span{
	color: #757575;
	font-size: 12px;
	bottom: 64px;
	position: absolute;
}

#tipos{
	left: 50px;
}

#pokemon{
	left:-400px;
}

h1{
	text-align:center;
	color:white;
	margin-top:2%;
}

.dropdown{
	margin-top:20px;
	margin-bottom:20px;
	height: 30px;
	font-size: large;
}

.formmov{
	margin-left:45px;
	margin-top:0px;
        position: relative;
        top: -85px;
        height: 99px;
}

.bajar{
    margin-top: 10px;
}

h2{
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}

.casa{
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
}

.fotos{
    margin-top: 10px;
}