<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>ProyectoPokemon</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AtaqueSinglePlayerServlet</display-name>
    <servlet-name>AtaqueSinglePlayerServlet</servlet-name>
    <servlet-class>controllers.AtaqueSinglePlayerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AtaqueSinglePlayerServlet</servlet-name>
    <url-pattern>/AtaqueSinglePlayerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AtaqueServlet</display-name>
    <servlet-name>AtaqueServlet</servlet-name>
    <servlet-class>controllers.AtaqueServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AtaqueServlet</servlet-name>
    <url-pattern>/AtaqueServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BatallaServlet</display-name>
    <servlet-name>BatallaServlet</servlet-name>
    <servlet-class>controllers.BatallaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BatallaServlet</servlet-name>
    <url-pattern>/BatallaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controllers.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PokemonServlet</display-name>
    <servlet-name>PokemonServlet</servlet-name>
    <servlet-class>controllers.PokemonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PokemonServlet</servlet-name>
    <url-pattern>/registerpokemon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecibirImagenesEspalda</display-name>
    <servlet-name>RecibirImagenesEspalda</servlet-name>
    <servlet-class>controllers.RecibirImagenesEspalda</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecibirImagenesEspalda</servlet-name>
    <url-pattern>/RecibirImagenesEspalda</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecibirImagenesFrontales</display-name>
    <servlet-name>RecibirImagenesFrontales</servlet-name>
    <servlet-class>controllers.RecibirImagenesFrontales</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecibirImagenesFrontales</servlet-name>
    <url-pattern>/RecibirImagenesFrontales</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecibirPokemonsServlet</display-name>
    <servlet-name>RecibirPokemonsServlet</servlet-name>
    <servlet-class>controllers.RecibirPokemonsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecibirPokemonsServlet</servlet-name>
    <url-pattern>/RecibirPokemonsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecibirTiposServlet</display-name>
    <servlet-name>RecibirTiposServlet</servlet-name>
    <servlet-class>controllers.RecibirTiposServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecibirTiposServlet</servlet-name>
    <url-pattern>/RecibirTiposServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TipoServlet</display-name>
    <servlet-name>TipoServlet</servlet-name>
    <servlet-class>controllers.TipoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TipoServlet</servlet-name>
    <url-pattern>/registertype</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BatallaMultijugadorServlet</display-name>
    <servlet-name>BatallaMultijugadorServlet</servlet-name>
    <servlet-class>controllers.BatallaMultijugadorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BatallaMultijugadorServlet</servlet-name>
    <url-pattern>/BatallaMultijugadorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecibirOk</display-name>
    <servlet-name>RecibirOk</servlet-name>
    <servlet-class>controllers.RecibirOk</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecibirOk</servlet-name>
    <url-pattern>/RecibirOk</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrarUsuario</display-name>
    <servlet-name>RegistrarUsuario</servlet-name>
    <servlet-class>controllers.RegistrarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrarUsuario</servlet-name>
    <url-pattern>/RegistrarUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BorrarUsuarios</display-name>
    <servlet-name>BorrarUsuarios</servlet-name>
    <servlet-class>controllers.BorrarUsuarios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BorrarUsuarios</servlet-name>
    <url-pattern>/BorrarUsuarios</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WebSocket</display-name>
    <servlet-name>WebSocket</servlet-name>
    <servlet-class>controllers.WebSocket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebSocket</servlet-name>
    <url-pattern>/WebSocket</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WebSocket0</display-name>
    <servlet-name>WebSocket0</servlet-name>
    <servlet-class>controllers.WebSocket0</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebSocket0</servlet-name>
    <url-pattern>/WebSocket0</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WebSocket1</display-name>
    <servlet-name>WebSocket1</servlet-name>
    <servlet-class>controllers.WebSocket1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebSocket1</servlet-name>
    <url-pattern>/WebSocket1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WebSocket2</display-name>
    <servlet-name>WebSocket2</servlet-name>
    <servlet-class>controllers.WebSocket2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebSocket2</servlet-name>
    <url-pattern>/WebSocket2</url-pattern>
  </servlet-mapping>
</web-app>